/* Background */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Box utama */
.container {
    background-color: white;
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

/* Text */
h1 {
    color: #333;
    text-align: center;
}

.deskripsi {
    color: #555;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
}

/* Button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
